.cart{
    background-color: rgba(255, 153, 0, 0.30);
    padding:25px;
    position: sticky;
    top: 0;
}
.cart p{
    font-size: 17px;
}
.cart h6{
    font-size: 21px;
    
}
.btn-clear-cart{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 4px;
    background: #FF3030;
}
.btn-clear-cart span{
    color: #FFF;
    font-size: 20px;
}