.review-item{
    width:570px;
    border:1px solid gray;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 23px 8px 8px;
    display: flex;
    align-items: center;
}
.review-item img{
    width:91px;
    height:91px;
    border-radius: 6px;
}
.review-info {
  flex-grow: 1;
}
.review-info p{
    margin:0 17px;
}
.product-title{
    color: #1C2B35;
    font-size: 21px;
    font-weight: 400;
    line-height: normal
   
}
.orange-text{
    color:#FF9900;
}
.btn-delete{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 23px;
}
.icon-style{
   color: #EB5757;
  font-size: 26px;
}